.coursepage-reset-display
{
  display: none;
}

.coursepage-searchcourse-courselist-first
{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top:1rem;
}

.coursepage-info-one
{
  display: flex;
  align-items: center;
}

.coursepage-estimatefee
{
  margin-right: 10px;;
}

.apply-button .featured {
  margin-left: 10px;
  background-color: #B71A18;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 145px;
  text-align: center;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-button .featured:hover {
  background-color: #900b09;
  color: #ffffff;
  border-color: #B71A18;

}

.blankslate-courses {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
  align-items: center;
  text-align: center;
  padding: 2rem;
  /* margin-left: 250px; */
}

.blankslate-courses-actions .btn {
  margin: 0.5rem;
}

.blankslate-courses-body {
  margin-bottom: 1rem;
}

.blankslate-courses-top-img {
  max-width: 100px;
  margin-bottom: 1rem;
}

.card-body {
  flex-direction: column;
}

.country-dropdown-course, .university-dropdown-course, .qualification-dropdown-course  {
  border: none; 
  background-color: #B71A18;
}

.country-dropdown-course:hover, .university-dropdown-course:hover, .qualification-dropdown-course:hover {
  border: none; 
  background-color: #8B0000;
  color: white;
}

/* In your CSS file or inside a <style> tag */
.custom-placeholder::placeholder {
  color: #888; /* Replace #888 with your desired color */
  opacity: 1; /* Optional: Ensures the color is applied without transparency */
}


.degree-card {
  display: flex;
  flex-direction: column;
  width: 1180px;
  height: auto;
  border-color: #B71A18;
  border-radius: 10px;
  margin-bottom: 20px; /* Add spacing between cards */
}


.degree-card .card-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  
}

.degree-card .card-image {
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 10px; /* Adjusted for smaller screens */
}

.degree-card .card-image img {
  max-width: 100px;
  height: auto;
  display: block;
}

.degree-card .card-text {
  margin-bottom: 10px;
}

.degree-card .card-title {
  background-color: #F2F2F2;
  padding:1rem 2rem;
  height: fit-content;
  margin-left: -15px;
}

.degree-card .card-content {
  flex-grow: 1;
  margin-right: 20px;
}

.degree-card .details-div {
  flex-grow: 1;
}

.degree-card .fee-apply {
  margin-left: 100px; /* Pushes the fee-apply div to the right side */
  display: flex;
  color: #514E4E;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}


.featured-badge {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #B71A18; 
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 100% 100%, 50% 70%, 0 100%);
  z-index: 1;
  width: 100px;
  height: 40px;
}

.featured:hover {
  background-color: #9c1515;
}

.flex-grow-1 {
  flex-grow: 1;
}

.header-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}

.location-container {
  border: 1px solid #dadada;
  border-radius: 10px;
  height: 1200px;
  width: 250px;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 0.5rem;
}


.pagination-course{
  margin-top: 20px;
    font-size: 1rem;
}
.pagination-course .page-item .page-link {
  background-color: #B71A18; /* Your desired background color */
  color: white; /* Your desired text color */
  border: none; /* Remove border if desired */
  margin-top: 30px;
}

.pagination .page-item.active .page-link {
  background-color: #8B0000; /* Your desired active background color */
  color: white; /* Your desired active text color */
}

.pagination .page-item .page-link:hover {
  background-color: #ff6347; /* Your desired hover background color */
  color: white; /* Your desired hover text color */
}

.scrollable-dropdown {
  max-height: 300px; /* Set your desired maximum height */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Width of the scrollbar */
.scrollable-dropdown::-webkit-scrollbar {
  width: 15px; /* You can adjust the width */
}

/* Track of the scrollbar (background) */
.scrollable-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light background color for the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

/* Handle of the scrollbar (thumb) */
.scrollable-dropdown::-webkit-scrollbar-thumb {
  background-color: #B71A18; /* Darker color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Add a border around the thumb */
}

/* Handle on hover */
.scrollable-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.search-button {
  background-color: #B71A18;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 5px 5px 0; /* Ensure the button aligns with the input */
  cursor: pointer;
  height: 100%; /* Make sure the button height matches the input height */
}

.search-button:hover {
  background-color: #9c1515;
}

.studypal-image {
  width: 1180px;
  height: 150px;
  display: block;
  object-fit: cover;
  margin-bottom: 40px;
}

/* Ensure buttons stack vertically on larger screens and horizontally on smaller screens */
@media (max-width: 767px) {
  .custom-accordion {
    display: block;
  }
  
  .filters-container {
    display: none;
  }

  .dropdown-button-group {
    display: flex;
    flex-direction: column;
  }

  
}

@media (max-width: 576px) {
  .country-button,
  .university-button,
  .degree-button {
    width: 100%;
  }
  .location-container {
    width: 100%;
  }
  .degree-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .degree-card .card-body {
    flex-direction: row;
  }
  
  .degree-card .details-div, .degree-card .fee-apply {
    display: flex;
    flex-direction: column;
  }

  .degree-card .fee-apply {
    text-align: right;
  }

  .card-body {
    flex-direction: column;
  }
  .studypal-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search-course-container {
    padding: 0 15px;
  }
  .degree-card .card-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .degree-card .card-image {
    margin-bottom: 15px;
  }

  .degree-card .details-div,
  .degree-card .fee-apply {
    width: 100%;
    text-align: left; /* Adjusted for smaller screens */
  }

  .degree-card .fee-apply {
    align-items: flex-start;
    margin-top: 15px;
    text-align: right;
  }

  .degree-card .apply-button .featured {
    width: 100%; /* Make the button full width on smaller screens */
  }
}

@media (min-width: 768px) {
  .dropdown-button-group {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 992px) {
  .country-button,
  .university-button,
  .degree-button {
    width: 100%;
    min-width: 160px; /* Remove fixed min-width */
  }
}

.custom-accordion {
  display: none;
}

/* Style for the Accordion Header */
.custom-accordion-header {
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

/* Style for the Accordion Body */
.custom-accordion-body {
  background-color: #f8f9fa;
  padding: 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

/* Additional Custom Styles */
.custom-range-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-range-input {
  color: #b71a18;
}

.featured-badge {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #B71A18; 
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 100% 100%, 50% 70%, 0 100%);
  z-index: 1;
  width: 100px;
  height: 40px;
}

.btn-danger {
  background-color: rgb(221, 158, 158);
}

.align-items-center {
  display: flex;
  align-items: center;
}

.studypal-image {
  width: 1180px;
  height: 150px;
  display: block;
  object-fit: cover;
  margin-bottom: 40px;
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
}

.pagination-course {
  font-size: 1rem;
}

.pagination-arrow {
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}


.pagination-item {
  margin: 0 5px;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination-item:hover {
  background-color: #f0f0f0;
}

.pagination-item.active {
  color: white;
  border: none;
}

.details-div
{
  width:60%;
}

@media (max-width: 768px) {
  .pagination-item, .pagination-arrow {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

}


/* Responsive styles for smaller screens */
@media (max-width: 991px) {
  .degree-card {
    flex-direction: column;
    max-width: 100%;
  }

  .degree-card .card-title {
    background-color: #F2F2F2;
    /* padding-left: 30px; */
    height: 100%;
    /*width: 100%;*/
    text-align: left;
    /* margin-left: -15px; */
  }
  
  .degree-card .card-body {
    flex-direction: column;
    align-items: center;
  }
  
  .degree-card .card-image {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .degree-card .fee-apply {
    margin-left: 0;
    margin-top: 10px;
    align-items: center;
  }

   /* Adjust featured badge for smaller screens */
   .featured-badge {
    right: 10px; /* Adjust right position */
    font-size: 10px; /* Smaller font size */
    padding: 4px 8px; /* Smaller padding */
    width: 80px; /* Adjust width */
    height: 30px; /* Adjust height */
  }
}

@media (max-width: 767px) {
  /* .degree-card {
    padding: 10px;
  } */
  
  .degree-card .card-title {
    background-color: #F2F2F2;
    height: 100%;
   /* width: 100%;*/
    max-width: 767px;
    text-align: center;    
    /* padding-left: 30px; */
    /* margin-left: -15px; */
  }

  .degree-card .fee-apply {
    align-items: right;
    text-align: right;
    
  }

  .degree-card img {
    max-width: 80px;
  }

  .degree-card .details-div {
    padding-right: 0;
  }

  /* Further adjust featured badge for very small screens */
  .featured-badge {
    right: 5px; /* Further adjust right position */
    font-size: 8px; /* Even smaller font size */
    padding: 3px 6px; /* Even smaller padding */
    width: 70px; /* Adjust width */
    height: 25px; /* Adjust height */
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height for centering */
}

.custom-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .custom-spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }
}

@media (max-width: 426px)
{
  .coursepage-searchcourse-courselist-second
{
  flex-direction: column;
}

.coursepage-img
{
  width:10rem;
}

.coursepage-img-size
{
  min-width:10rem;
}

.coursepage-coursename
{
  margin-top:1rem;
}

.details-div{
  border-top:1px solid #c9c9c9;
  border-bottom:1px solid #c9c9c9;
}

.coursepage-info-one
{
  padding:0;
  margin:1rem 0;
}

.fee-info
{
  text-align:center;
}

.fee-apply{
  text-align: center;
}

.fee-apply
{
  margin-top:25px;
  text-align:center;
}

.coursepage-applybutton
{

  width:10rem;
}

.apply-button .featured
{
margin-left:0;
}
.details-div{
  width:100%;
}

.coursepage-info-one
{
  align-self:center;
  padding:0;
}
.coursepage-searchcourse-courselist-first
{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:1rem;
}

.coursepage-row
{
  width:-webkit-fill-available;
}

.coursepage-seaerchcourse-courselist-list
{
  text-align: center;
}

.card-title{
  margin-top:1rem;
  width:fit-content;
  margin-left:0;
  justify-self:center;
}
.card-image
{
  margin-right:0 !important;
}

}

@media(max-width: 766px)
{
  
.saerchcourse-display-none
{display: none;}

.coursepage-reset-display
{
  display: grid;
}
}