.searchcourse-coursename-schoolname {
    padding-left: 30px;
}

.searchinstitute-dflex-center {
    display: flex;
    justify-content: flex-start;
}

.searchinstitute-dflex-center p {
    margin-bottom: 0;
    width: 10rem;

}

.searchcourse-display-none {
    display: none;
}


.searchcourse-dflex-center {
    display: flex;
    justify-content: flex-start;
}

.searchcourse-dflex-center p {
    margin-bottom: 0;
}

.knowmoreinstitute-dflex-center {
    display: flex;
    justify-content: flex-start;
}

.knowmoreinstitute-dflex-center p {
    margin-bottom: 0;
}


@media (max-width: 426px) {
    .searchcourse-dflex-center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .searchcourse-dflex-center p {
        width: 10rem;
        text-align: justify;
    }

    .knowmoreinstitute-dflex-center 
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 1.75rem;
    }

    .knowmoreinstitute-dflex-center p 
    {
        width: 10rem;
        text-align: justify;
    }

    .searchcourse-coursename-schoolname {
        padding-left: 0;
        margin-top: 1rem;
    }

    .searchinstitute-dflex-center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .searchinstitute-dflex-center p {
        width: 10rem;
        text-align: justify;
    }

    .searchinputborder{
      border: #ced4da 1px solid !important;
      border-radius: 5px !important;
    }
    .searchinputborder:focus{
      border: black 1px solid !important; /* Change border color to black on focus */
    
    }

    /* .pagination-custom {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    } */
}

/* Web Styles */
/* @media (min-width: 427px) {
    .pagination-custom {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
} */

/* iPad Landscape Styles */
@media only screen and (min-width: 1024px) and (max-height: 768px) {
    .bottom-align-ipad {
      display: flex !important;
      justify-content: flex-end !important;
      height: 100% !important;
    }
    
    .coursepage-searchcourse-courselist-second {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }
    
    .details-div {
      margin-top: auto;
    }
    
    .fee-apply {
      margin-top: auto;
    }
    
    .interest-division {
      display: flex !important;
      flex-direction: column !important;
      gap: 5px !important;
    }

    .interest, .apply-button {
      width: 100% !important;

    }
    .searchinputborder{
      border: #ced4da 1px solid !important;
      border-radius: 5px !important;
    }
    .searchinputborder:focus{
      border: black 1px solid !important; /* Change border color to black on focus */
    
    }
  }
  
  /* iPad Portrait Styles */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .coursepage-searchcourse-courselist-second {
        display: block !important;
        justify-content: space-between;
        height: 100%;
      }
      
      .fee-apply {
        margin-top: auto !important;
        width: 50%;
      }

      .degree-card, .coursepage-row{
        display: block !important;
        
      }
      .coursepage-searchcourse-courselist-first {
        display: block !important;
      }
      
      .coursepage-img {
        padding: 0 !important;
        display: flex !important; /* Use flexbox for centering */
        justify-content: center !important; /* Horizontally center */
        align-items: center !important; /* Vertically center */
        margin-bottom: 20px;
      }
      
      .course-card-ipad, .course-card-fee-ipad{
        width: 100% !important;
      }
      .interest-division {
        display: flex !important;
        flex-direction: column !important;
        gap: 5px !important;
      }
  
      .interest, .apply-button {
        width: 100% !important;
 
      }
      .searchinputborder{
        border: #ced4da 1px solid !important;
        border-radius: 5px !important;
      }
      .searchinputborder:focus{
        border: black 1px solid !important; /* Change border color to black on focus */
      
      }
    
  }
  
.interest-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 15px;
  background-color: white;
  border: 1px solid #B71A18;
  border-radius: 4px;
  color: #B71A18;
  font-size: 14px !important;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 145px;
  height: 45px;
  margin-top: 10px;
}
.interest{
  justify-items: center;
}

.interest-button:hover {
  background-color: #fff5f5;
}

.interest-button i {
  font-size: 17px;
  text-align: center;
}
.searchinputborder, .countryinput{
  border: #ced4da 1px solid !important;
  border-radius: 5px !important;
}
.searchinputborder:focus, .countryinput:focus{
  border: black 1px solid !important; /* Change border color to black on focus */

}

.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
}