
.searchcourse-coursename-schoolname{
    padding-left:30px;
}

.searchinstitute-dflex-center
{
    display: flex;
    justify-content: flex-start;
}

.searchinstitute-dflex-center p{
    margin-bottom: 0;
    width:10rem;
    
}

.searchcourse-display-none {
    display: none;
}


.searchcourse-dflex-center {
    display: flex;
    justify-content: flex-start;
}

.searchcourse-dflex-center p {
    margin-bottom: 0;
}

@media (max-width: 426px) {
    .searchcourse-dflex-center {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .searchcourse-dflex-center p {
        width: 10rem;
        text-align:justify;
    }

    .searchcourse-coursename-schoolname{
        padding-left: 0;
        margin-top: 1rem;
    }
    .searchinstitute-dflex-center
    {
        display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
    .searchinstitute-dflex-center p{
        width:10rem;
        text-align: justify;
    };

}