.navbar {
  background-color: #ffffff; /* Background color for the navbar */
}

.navbar-brand {
  color: #b71a18; /* Color for the brand name */
  font-weight: bold;
}

.nav-link-custom {
  color: #333333; /* Default color for navigation links */
  
}

.nav-link-custom:hover {
  color: #b71a18; /* Hover color for navigation links */
}

.nav-dropdown-custom {
  color: #333333; /* Default color for dropdown links */
}

.nav-dropdown-custom .dropdown-item:hover {
  color: #b71a18; /* Hover color for dropdown items */
}

.nav-button {
  background-color: #b71a18;
  color: white;
  border: none;
  
}

.nav-button:hover {
  background-color: #9c1515; /* Hover background color */
}

.navbutton-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbutton-section .btn-group {
  margin-left: 10px;
}

.logo {
  width: 150px; /* Adjust the logo size */
}

@media (max-width: 768px) {
  .nav-link-custom {
    
    margin-bottom: 10px;
  }

  .navbutton-section {
    flex-direction: column;
    text-align: center;
  }

  .navbutton-section .btn-group {
    width: 100%;
    margin-bottom: 10px;
  }
}
