.applyuniszaContainer {
    border: 1px solid #CE181B; /* Updated border color */
    width: clamp(300px, 80%, 600px); /* Responsive width using clamp */
    height: auto; /* Adjust the height as needed */
    padding: 20px; /* Added padding for better spacing */
    background-color: white !important; /* Light red background for emphasis */
    border-radius: 8px; /* Rounded corners */
    

    /* display: flex; Enable Flexbox */
    /* align-items: center;  */
    /* justify-content: center;  */
}