.mpw-inputholder
{
    padding:0 7.25rem;
}


/*responsive button*/
@media (max-width: 768px) {
    
    .mpw-inputholder
    {
        padding:2rem;
    }
    
}

@media (max-width: 576px) {
    .mpw-inputholder
    {
        padding:1rem;
    }
    
}


@media (max-width: 375px) {
    .mpw-inputholder
{
    padding:0rem;
}

}