.mpw-inputholder
{
    padding:0 7.25rem;
}

.password-toggle-mp {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: transparent !important;
    border: none !important;
    color: #6c757d;
    
  }



/*responsive button*/
@media (max-width: 768px) {
    
    .mpw-inputholder
    {
        padding:2rem;
    }
    
}

@media (max-width: 576px) {
    .mpw-inputholder
    {
        padding:1rem;
    }
    
}


@media (max-width: 375px) {
    .mpw-inputholder
{
    padding:0rem;
}

}