.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  flex-wrap: wrap;
}
.featured-course-card {
  /* Existing styles */
  position: relative; /* Ensure badge is positioned correctly */
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #9e1919;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-container {
  width: 100%;
  overflow: hidden; /* Prevent horizontal scroll if needed */
}


.featured-course-card {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  text-align: center; 
  width: 33.33%;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.featured-course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.section-image {
  max-width: 100%;
  max-height: 120px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .carousel-item {
    display: flex;
  }

  .featured-course-card {
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    width: 50%;
  }
}
/* For even smaller screens, make the cards full-width */
@media (max-width: 480px) {
  .featured-course-card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .carousel-item {
    display: block;
  }

  .featured-course-card {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.carousel-control-prev,
.carousel-control-next {
  color: azure;
}

@media (max-width: 992px) {
  .featured-course-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .featured-course-card {
    width: calc(100% - 20px);
  }
}