.video-carousel {
  width: 100%;
  height: auto;
  margin: auto;
}

.video-carousel-item {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.video-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 1;
}

.video-carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  font-size: 3rem; /* Default font size */
}

/* Responsive font sizes */
@media (max-width: 1200px) {
  .video-carousel-caption {
    font-size: 2.5rem; /* Adjust for large screens */
  }
}

@media (max-width: 992px) {
  .video-carousel-caption {
    font-size: 2rem; /* Adjust for medium screens */
  }
}

@media (max-width: 768px) {
  .video-carousel-caption {
    font-size: 1.5rem; /* Adjust for small screens */
  }
}

@media (max-width: 576px) {
  .video-carousel-caption {
    font-size: 1.2rem; /* Adjust for extra small screens */
  }
}

.video-carousel-button {
  margin-top: 170px; /* Adjusted to fit better */
  border-color: #B71A18;
  color: #ffffff;
  border: 5px solid #B71A18;
  font-size: 1.2rem; /* Default button font size */
  width: 240px;
  font-weight: lighter;
  background-color: transparent;
 
}

/* Responsive button font sizes */
@media (max-width: 576px) {
  .video-carousel-button {
    font-size: 1rem; /* Adjust for extra small screens */
    width: 200px; /* Adjust button width */
  }
}


.video-carousel-button:hover {
  background-color: #B71A18;
  color: white;
}
