.video-carousel {
  width: 100%;
  height: auto;
  margin: auto;
}

.video-carousel-item {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.video-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  pointer-events: none; /* Allows clicks to pass through */
  z-index: 1;
}


.video-carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  font-size: 50px;
}

/* .carousel-control-prev,
.carousel-control-next {
  height: 100%;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  visibility: visible;
  background-color: #d4c7c7;
}

.carousel:hover .carousel-control-prev-icon,
.carousel:hover .carousel-control-next-icon {
  visibility: visible;
} */

.video-carousel-button {
  margin-top: 60px; /* Adjusted to fit better */
  border-color: #B71A18;
  color: #B71A18;
  border: 5px solid;
  font-size: 15px;
  width: 165px;
  background-color: transparent;
}

.video-carousel-button:hover {
  background-color: #bf2522;
  color: white;
  border-color: #bf2522;
}
