.footer {
  background-color: #202220; /* Red maroon color */
  color: white;
  text-align: center;
  padding: 10px 0; /* Adjust this padding to reduce height */
  margin-top:auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  margin-bottom: 5px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
}

.address {
  margin-bottom: 5px;
}

.copyright {
  font-size: 12px; /* Reduce font size if needed */
}
