

* {
    font-family: 'Ubuntu', sans-serif;
}

.admin-add-school-container {
    width: 952px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 1px #000000;
    margin-top: 10px;
    background-color: #fff;
}
.admin-add-subject-container {
  width: 952px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: solid 1px #000000;
  margin-top: 10px;
  background-color: #fff;
}
.admin-add-banner-content{
    width: 952px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    border: solid 1px #000000;
    margin-top: 10px;
    background-color: #fff;
}

.admin-add-package-container {
  width: 952px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: solid 1px #000000;
  margin-top: 10px;
  background-color: #fff;
}

.admin-add-student-container{
  width: 952px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  border: solid 1px #000000;
  margin-top: 10px;
  background-color: #fff;
}

.HeadNavBarContainer {
    width: 100%;
    background: #F5F7F8 ;
}

.featured {
    border-radius: 5px;
    border: solid 1px #D6D5D5;
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust gap between search bar and buttons */
    padding: 10px; /* Add padding to the container */
}

.featured:hover {
    background-color: inherit; /* Ensures background color doesn't change */
    border: solid 1px #D6D5D5; /* Ensures border color remains the same */
}

/* Styles for the search input and icon */
.search-input-wrapper {
    display: flex;
    align-items: center;
    width: 25%;
    position: relative; /* Ensure that the icon is positioned correctly */
}

.search-input {
    flex: 1;
    padding-right: 30px; /* Ensure space for the search icon */
    margin-top: 8px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none; /* Prevent icon from being clicked */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between buttons */
}

.button-container .btn {
    margin-bottom: 10px; /* Space between rows of buttons */
    background-color: #D9D9D9 !important;
    color: #000000 !important;
    font-size: 12px !important;
    width: 205px !important;
    height: 26px !important;
    border-radius: 25px !important;
    border-color: #D9D9D9;
    display: block !important;
    line-height: 0px;
    transition: background-color 0.3s, color 0.3s;
    flex: none;
}

.button-container .btn:hover {
    background-color: #D32F2F !important;
    color: #ffff !important;
}

.button-container .btn:active {
    background-color: #D32F2F;
    color: #fff; 
}

.button-container .btn:focus {
    outline: none; /* Remove default focus outline */
    background-color: #D32F2F; /* Background color when the button is focused */
    color: #fff; /* Text color when the button is focused */
}
/* Media query for screens 1400px and wider */
@media (min-width: 1400px) {
    .admin-add-school-container {
        width: 1200px; /* Increase width for larger screens */
        margin: 20px auto; /* Center the container and add more margin */
        border-radius: 20px; /* Slightly larger border-radius for a more spacious look */
    }

    .search-input-wrapper {
        width: 30%; /* Increase width of search input wrapper */
    }

    .search-input {
        width: calc(100% - 40px); /* Ensure it fits within the container with extra space for the icon */
    }

    .button-container {
        flex-wrap: wrap; /* Allow buttons to wrap as needed */
        gap: 15px; /* Increase space between buttons */
    }

    .button-container .btn {
        width: 265px !important; /* Slightly larger button width */
        font-size: 14px !important; /* Larger font size for better readability */
        height: 30px !important; /* Increased height for a better appearance */
        border-radius: 30px !important; /* Larger border-radius for a more prominent look */
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .admin-add-school-container {
        width: 100%;
        margin: 10px 0;
        border-radius: 10px;
    }

    .search-input-wrapper {
        width: 100%;
    }

    .search-input {
        width: calc(100% - 40px); /* Adjust width to fit within the container */
        margin-top: 8px;
    }

    .button-container {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center;
    }

    .button-container .btn {
        width: 100%; /* Make buttons full width on small screens */
        max-width: 300px; /* Limit the maximum width */
        font-size: 14px !important;
        height: auto; /* Adjust height to content */
    }
}

/* This will capitalize the first letter of the label text */
form .form-check-label::first-letter {
    text-transform: uppercase;
}

.save{
    width: 144.77px;
    height: 24px;
    border-radius: 21px;
    background-color: #B71A18;
    color: #fff;
    font-size: 20px;
    line-height: 11.08px;
    font-weight: 300;
    border: none;
}
.save:hover{
    background-color: #D32F2F;
}
.course{
    margin-bottom: 10px; /* Space between rows of buttons */
    background-color: #D9D9D9 !important;
    color: #000000 !important;
    font-size: 12px !important;
    width: 205px !important;
    height: 26px !important;
    border-radius: 25px !important;
    border-color: #D9D9D9;
    display: block !important;
    line-height: 0px;
    transition: background-color 0.3s, color 0.3s;
    flex: none;
}

.img-fluid-admin {
    margin-left: 96px;
    margin-top: -41px;
    max-width: 150px;
    height: 150px; /* Ensure the height is the same as the width */
    border-radius: 50%; /* This makes it a perfect circle */
    border: 1px solid #D6D5D5;
    object-fit: cover; /* Ensures the image scales properly within the circle */
}
.img-banner-admin {
  margin-left: 6px;
  margin-top: 19px;
  max-width: 500px; /* Set maximum width */
  max-height: 500px; /* Set maximum height */
  border: 1px solid #D6D5D5;
  object-fit: cover; /* Ensures the image scales properly within the specified dimensions */
}


img.roundedCircle {
    border-radius: 50%; /* Ensure the image is rounded */
  }

  /* Targeting the TinyMCE dropdown menu */
.tox-menu.tox-selected-menu {
    position: absolute !important;
    top: -520px !important;
    left: 631px !important;
    overflow: hidden auto !important;
    max-height: 513px !important;
  }
  .detail{
    font-size: 14px ;
    font-weight: 700;
    line-height: 14px;
  }
  
  .banner{
    margin-bottom: 109px !important;
    margin-top: 100px;
  }

  .check{
    margin-left: 20px;
  }

  /* Style the calendar container */
.react-calendar {
    display:table-row-group;
    width: 100%;
    max-width: 350px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* Style the navigation (month/year) section */
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .react-calendar__navigation__label {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
  }
  
  .react-calendar__navigation__arrow {
    color: #666;
    font-size: 1.5rem;
  }
  
  /* Style the date tiles */
  .react-calendar__tile {
    background: #fff;
    color: #444;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }
  
  .react-calendar__tile:enabled:hover {
    background-color: #AEE2D6;
    color: #00796b;
    cursor: pointer;
  }
  
  .react-calendar__tile--now {
    background-color: #ffeb3b;
    color: #000;
  }
  
  .react-calendar__tile--active {
    background-color:#97D0C3 ;
    color: #fff;
  }
  
  .react-calendar__tile--weekend {
    color: #d32f2f;
  }
  
  /* Add padding to the days container */
  .react-calendar__month-view__days {
    padding: 10px;
  }
  
  /* Style the weekdays (Sun, Mon, etc.) */
  .react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    color: #555;
  }
  
  /* Customize the disabled days */
  .react-calendar__tile--disabled {
    background-color: #f0f0f0;
    color: #ccc;
  }
  
  .upload-section {
    padding: 20px;
  }
  
  .dropzone {
    background-color: #f9f9f9;
    border: 2px dashed #ced4da;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropzone:hover {
    background-color: #e9ecef;
  }
  
  .file-info {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .file-info .file-name {
    font-size: 0.9rem;
    color: #495057;
  }
  
  .file-info .btn-link {
    color: #007bff;
    font-size: 0.9rem;
  }
  
  .file-info .btn-link:hover {
    text-decoration: underline;
  }
  
  .modal-header {
    border-bottom: none;
  }
  
  .modal-footer {
    border-top: none;
  }
    /* Ensure the modal dynamically adjusts to the image size */
  .modal-preview .modal-dialog {
    max-width: unset; /* Disable the max-width limit */
    width: auto; /* Allow it to auto adjust based on content */
  }

  .modal-preview .modal-body {
    padding: 0; /* Remove padding to align with image */
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
  }

  .modal-preview .img-fluid {
    max-width: 100%; /* Prevent the image from overflowing */
    height: auto; /* Ensure the height is auto-adjusted */
  }

  @media (max-width: 768px) {
    .modal-preview .modal-dialog {
      max-width: 100%; /* Full width for smaller screens */
      margin: 0 1rem; /* Add a small margin */
    }
    
    .modal-preview .img-fluid {
      max-width: 100%; /* Limit image size to screen width */
      height: auto; /* Auto adjust height */
    }
  }

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 73% !important;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff; /* Customize as needed */
}
.text-danger {
  color: red; /* or any custom color */
}
