/* Universal Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Sidebar Styles */
.SidebarContainer {
  width: 250px;
  max-height: 100vh !important;
    overflow-y: auto;
    position: fixed;
    background-color: #d9d9d9;

    /* Webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #888 #e0e0e0;
 
}
/* For Chrome, Edge, and Safari */
.SidebarContainer::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.SidebarContainer::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.SidebarContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}

.SidebarContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color when hovered */
}

/* Firefox scrollbar */
.SidebarContainer {
  scrollbar-width: thin; /* Make it thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
}
.SidebarContainer.collapsed {
  width: 80px;
}

.SidebarContainer .nav-link .link-text {
  margin-left: 10px;
}

.SidebarContainer.collapsed .nav-link {
  justify-content: center;
}

.SidebarContainer.collapsed .nav-link .link-text {
  display: none;
}

.SidebarContainer.collapsed img {
  display: none;
}

.SidebarContainer.collapsed .LogoContainer {
  display: flex;
  align-items: center;
}

.SidebarContainer.collapsed .collapse-btn {
  margin-top: 80px;
}

.LogoContainer img {
  width: 250px;
  height: 80px;
}

.LogoContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.collapse-btn {
  font-size: 12px;
}

/* Normal state */
.nav-link {
  color: #B22222;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* Hover state */
.nav-link:hover {
  background-color: #D32F2F;
  color: #fff;
}

/* Active state */
.nav-link.active {
  background-color: #D32F2F;
  color: #fff;
}

.nav-link.active .link-text{
  color: #fff;
}
.link-text {
  color: #000000;
  padding-left: 1rem;
}

/* Media Queries */

/* For screens wider than 1920px */
@media (min-width: 1920px) {
  .SidebarContainer {
    width: 300px;
    height: auto !important;
  }

  .SidebarContainer.collapsed {
    width: 100px;
  }

  .LogoContainer img {
    width: 300px;
    height: 90px;
  }

  .nav-link {
    padding: 20px 30px;
  }

  .collapse-btn {
    font-size: 14px;
  }
}

/* For mobile screens */
@media (max-width: 768px) {
  .SidebarContainer {
    width: 100px;
    height: auto;
  }

  .SidebarContainer.collapsed {
    width: 60px;
  }

  .LogoContainer img {
    width: 100px;
    height: 40px;
  }

  .nav-link {
    padding: 10px;
    font-size: 14px;
  }

  .link-text {
    display: none;
  }

  .collapse-btn {
    font-size: 10px;
  }
}
