.applicant-app-container-applycourse {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;

}


.applicant-main-content-applycourse-clone {
    flex: 1;
    padding: 3rem 0 8.25rem 0;
    padding: 5rem 4rem;

}


.applicant-backgroundimage {

    background: rgb(255, 208, 204);
    background: linear-gradient(153deg, rgba(255, 208, 204, 1) 0%, rgba(252, 149, 149, 1) 100%);
    height: 15rem;
    flex-direction: row;
    align-content: flex-end;
}


.applicant-summary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.75rem 2rem;

}

.detail-content {
    padding: 2.5rem 0rem;
}

.applicant-actions-div
{
    background-color: inherit;
    height: 3.25rem;
    margin:0 3rem;
    width:35rem;
    border-radius: 1rem;
    color:#F5F5F5;
    font-weight: 400;

    align-content: center;
}

  
  .applicant-status-button.accepted {
    background-color: #146A17;
  }
  
  .applicant-status-button.rejected {
    background-color: #B71A18;
  }
  
  .applicant-status-button.pending {
    background-color: #EE6226;
  }

.applicant-actions-div.bg-green-100 {
    background-color: #d1fae5;
    color: #146A17 ;
  }
  
  .applicant-actions-div.bg-red-100 {
    background-color: #fee2e2 ;
    color: #B71A18;
  }
  
  .applicant-actions-div.pending {
    background-color: #146A17 ;
    color: #F5F5F5 ;
  }
  


.applicant-form-control
{
    background-color: transparent;
    width: 100%;
    border-radius: 0.5rem;
    padding:1rem;
    border-color: #EFF0F6;
    color:#1D2026;
}

.applicant-form-control::-webkit-scrollbar-thumb
{
    
    border-radius: 10px;
    background-color: #C6C6C6;
}

.applicant-form-control::-webkit-scrollbar
{
    padding:3rem 0;
    width: 8px;
    background-color: #F5F5F5;
}
.applicant-form-control::-webkit-scrollbar-thumb:hover
{
    padding:3rem 0;
    background-color: #A8A8A8;
}


/*button*/
.applicant-chat-button {
    background-color: #25D366;
    border-color: transparent;
    padding: 0.25rem 1.75rem;
    font-weight: bold;
    width: auto;
}

.applicant-chat-button:hover {
    background-color: white;
    border-color: #25D366;
    padding: 0.25rem 1.75rem;
    font-weight: bold;
    color: #25D366;
    
}

.applicant-status-button {
    background-color: #ED6126;
    border-color: transparent;
    padding: 0.25rem 1.75rem;
    font-weight: bold;
    width: 12.5rem;
    border-radius: 0.325rem;
    text-align: center;
    white-space: nowrap;
}

.whatsapp-button
{
    color:white;
}

.whatsapp-button:hover
{
    color: #25D366;
}