.my-ManageCourses-header{
  padding-top: 2.5rem; /* 50px converted to rem (50 / 16) */
  padding-left: 1.5rem; /* 30px converted to rem (30 / 16) */
}


.transparent-input {
  background-color: transparent;
  /* color: black; */
  border-color: transparent; 
  padding-left: 2.5rem;
}

.transparent-input:focus {
  outline: none; 
  border-color: black; 
  box-shadow: 0 0 0 1px black; 
}

.searchIcon {
  position: absolute;
  left: 15rem;
  /* top: 50%;
  transform: translateY(-50%);
  color: black;  */
}



