.sendOtpButton {
    padding: 0.5rem 9rem; /* Adjust padding for button size */
    border: 1px solid #B71A18; /* Red border */
    background-color: white; /* White background */
    color: #B71A18; /* Red text */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius:  12px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */

    font-weight: normal; /* Remove bold */
    font-size: 14px;
  }
  
  .sendOtpButton:hover {
    background-color: #B71A18; /* Red background on hover */
    color: white; /* White text on hover */
  }