.SchoolDashboard-Title-Container
{
    margin-top:2rem;
    display:flex;
    justify-content: space-between;
}

.SchoolDashboard-Title-Container-Title h5 {
    color:#454256;
    font-size:1.25rem;
    font-weight: 600;
    /*letter-spacing: -2px;
    transform: scaleX(0.7); 
    transform-origin: left;*/
}

.SchoolDashboard-Application-Container 
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:1rem;
}

.SchoolDasboard-Application-Content
{
    padding:1rem 2rem 1rem 2rem;
    
}

.SchoolDashboard-Application-Title
{
    color:#B71a18;
    font-weight:400;
    font-size:1.25rem;
    margin-bottom:0.5rem;
}

.SchoolDasboard-Application-Content h1
{
    color:#454256;
    font-size:3rem;
    font-weight:bolder;
    text-align:center;
}

.SchoolDashboard-SortBy-Container h5
{
    margin-top:2rem;
    color:#454256;
    font-size:1.25rem;
    font-weight: 600;
    /*letter-spacing: -1px;
    transform: scaleX(0.7); 
    transform-origin: left; */
}

.SchoolDashboard-SortBy-Buttons
{
    display:flex;
    gap:2rem;
    justify-content: flex;
}

.SchoolDashboard-SortBy-Buttons button
{
    margin:0;
    padding:0rem 3rem;
    height:120px;
    width:12.5rem;
    background: transparent;
    color:#454256;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.19);
}
.SchoolDashboard-SortBy-Buttons p
{
    margin-top:0.25rem;
    margin-bottom:0;
}

.SchoolDashboard-SortBy-Buttons :hover,
.SchoolDashboard-SortBy-Buttons :checked,
.SchoolDashboard-SortBy-Buttons :focus
{
    background-color:#B71a18;
    color:white;

}


.SchoolDashbord-Country-Chart-Title
{
    color:#454256;
    font-size:1.25rem;
    /*letter-spacing: -2px;
    transform: scaleX(0.7); 
    transform-origin: left;*/ 
}