.featured-institute-card {
  margin: 10px;
  text-align: center;
  max-height: fit-content;
  box-sizing: content-box;
}

.know-more-header-image {
  width: 100%;
  height: 450px;
  display: block;
  object-fit: cover;
}

.know-more-masthead {
  position: relative;
  overflow: hidden;
}

.know-more-container {
  position: relative;
  top: -5px; /* Adjust this value to control the overlap */
}

.know-more-row {
  position: relative;
}

.know-more-image-col {
  top: -75px; /* Adjust this value to control the overlap */
  z-index: 1;
}

.know-more-program-image {
  max-height: 150px;
  border: 3px solid white;
}

.know-more-card {
  /* margin-top: 5rem; */
  max-height: fit-content;
}

.about-institute-image {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
.adverstise-image{
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  margin-top: 50px;
}

.about-institute-school-container {
  position: relative;
  top: -100px; /* Adjust this value to control the overlap */
}

.random-images-carousel{
  max-height: 300px;
  object-fit: contain;
  margin-top: 15px;
}

/* .map-responsive {
  position: relative;
  max-width: 1250px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
} */

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1250px;
  max-height: 200px;
  border: 0;
}



/* .carousel-item .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

.item img {
  width: 100%;
  height: auto;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.see-more a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.total-course-card, .intake-period-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-course-card .card-body, .intake-period-card .card-body {
  padding: 20px;
}

.total-course-card .card-title, .intake-period-card .card-title,
.total-course-card h5, .intake-period-card h5 {
  font-size: 1rem;
  color: #514E4E;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  max-width: 100%;
  position: absolute;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-gallery-institute-modal {
  scrollbar-width: thin;
  scrollbar-color: #B71A18 #f5f5f5;
}

.image-gallery-institute-modal::-webkit-scrollbar {
  width: 8px;
}

.image-gallery-institute-modal::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.image-gallery-institute-modal::-webkit-scrollbar-thumb {
  background-color: #B71A18;
  border-radius: 10px;
  border: 2px solid #f5f5f5;
}

.gallery-image {
  max-width: 290px;
  height: 140px;
  object-fit: fill;
}

.gallery-image:last-child {
  margin-right: 0;
}
 
.icon-lg {
  font-size: 2rem;
  padding-left: 20px;
}

@media (max-width: 1200px) {
  .gallery-image {
    max-width: 120px;
    height: 90px;
  }
}

@media (max-width: 992px) {
  .gallery-image {
    max-width: 100px;
    height: 80px;
  }
}

/* CSS for smaller screens */
@media (max-width: 768px) {
  .icon-lg {
    font-size: 3rem; /* Smaller size for larger screens */
  }

  .total-course-card, .intake-period-card {
    flex-direction: row;
    align-items: center;
  }
  
  .total-course-card .card-title, .intake-period-card .card-title
  .total-course-card h5, .intake-period-card h5 {
    font-size: 0.875rem; /* Smaller font size */
    text-align: center;
  }

  .about-institute-school-container {
    position: relative;
    top: 0px; /* Adjust this value to control the overlap */
  }
}

@media (max-width: 576px) {
  .icon-lg {
    font-size: 2rem; /* Even smaller size for smaller screens */
  }

  .gallery-image {
    max-width: 80px;
    height: 60px;
  }

  .total-course-card, .intake-period-card {
    flex-direction: row;
    align-items: center;
    
  }

  .total-course-card .card-title, .intake-period-card .card-title,
  .total-course-card h6, .intake-period-card h6 {
    font-size: 0.75rem; /* Even smaller font size */
    text-align: center;

  }

  .about-institute-school-container {
    position: relative;
    top: 10px; /* Adjust this value to control the overlap */
  }
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust based on the page height */
}

.custom-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .custom-spinner {
    width: 30px;
    height: 30px;
    border-width: 3px;
  }
}