.custom-button {
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1;
  padding: 10px;
  margin: 10px 0;
  background-color: #F5F4F4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #ff7472;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  transform: translateY(-5px);
}

.custom-button-image {
  width: 70%;
  height: 50px;
  object-fit: cover;
  max-width: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.custom-button-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.custom-button-label:hover {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.h3 {
  text-align: center;
  color: #B71A18;
  size: bold;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .custom-button {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .custom-button-image {
    width: 70px;
    height: 40px;
  }

  /* .custom-button-label {
    font-size: 12px;
  } */
}

/* Media Query for Smaller Mobile Devices */
@media (max-width: 480px) {
  .custom-button {
    width: 100px;
    height: 100px;
  }

  .custom-button-image {
    width: 60px;
    height: 35px;
  }

  /* .custom-button-label {
    font-size: 10px;
  } */
}

/* Grid Layout */
.button-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.first-row, .second-row {
  grid-template-columns: repeat(6, 1fr);
}

/* Adjust for large tablets and small desktops */
@media (max-width: 1200px) {
  .first-row, .second-row {
    grid-template-columns: repeat(4, 1fr); /* Show 4 buttons per row */
  }
}

/* Adjust for tablets */
@media (max-width: 768px) {
  .first-row, .second-row {
    grid-template-columns: repeat(2, 1fr); /* Show 2 buttons per row */
  }
}

/* Adjust for mobile phones */
@media (max-width: 576px) {
  .first-row, .second-row {
    grid-template-columns: repeat(1, 1fr); /* Show 1 button per row */
  }
}

/* Swiper customization */
.swiper-slide {
  transition: all 0.3s ease;
}

/* Add to existing CSS */
.courses-title {
  color: #a90000;
  text-align: center;
  padding-top: 40px;
  font-size: 1.5rem;
}

.button-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  padding: 20px 50px;
  justify-content: center;
}

@media (max-width: 768px) {
  .button-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .button-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
  }
  
  .courses-title {
    font-size: 1.2rem;
    padding-top: 20px;
  }
}
