.custom-button {
  width: 150px;
  height: 150px;
  background-color: #F5F4F4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 50px;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: #ff7472;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  transform: translateY(-5px);
}

.custom-button-image {
  width: 90px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.custom-button-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.custom-button-label:hover {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.h3 {
  text-align: center;
  color: #B71A18;
  size: bold;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .custom-button {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .custom-button-image {
    width: 70px;
    height: 40px;
  }

  .custom-button-label {
    font-size: 12px;
  }
}

/* Media Query for Smaller Mobile Devices */
@media (max-width: 480px) {
  .custom-button {
    width: 100px;
    height: 100px;
  }

  .custom-button-image {
    width: 60px;
    height: 35px;
  }

  .custom-button-label {
    font-size: 10px;
  }
}

/* Grid Layout */
.button-grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.first-row, .second-row {
  grid-template-columns: repeat(6, 1fr);
}

/* Adjust for large tablets and small desktops */
@media (max-width: 1200px) {
  .first-row, .second-row {
    grid-template-columns: repeat(4, 1fr); /* Show 4 buttons per row */
  }
}

/* Adjust for tablets */
@media (max-width: 768px) {
  .first-row, .second-row {
    grid-template-columns: repeat(2, 1fr); /* Show 2 buttons per row */
  }
}

/* Adjust for mobile phones */
@media (max-width: 576px) {
  .first-row, .second-row {
    grid-template-columns: repeat(1, 1fr); /* Show 1 button per row */
  }
}

/* Swiper customization */
.swiper-slide {
  transition: all 0.3s ease;
}
