/* CoursesButton.css */

.custom-button {
  width: 150px;
  height: 150px;
  background-color: #F5F4F4;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 50px;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: #ff7472;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.custom-button-image {
  width: 90px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.custom-button-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.custom-button-label:hover{
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.h3 {
  text-align: center;
  color: #B71A18;
  size: bold;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .custom-button {
    width: 120px; /* Adjust the width for smaller screens */
    height: 120px; /* Adjust the height for smaller screens */
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .custom-button-image {
    width: 70px; /* Adjust the image size */
    height: 40px;
  }

  .custom-button-label {
    font-size: 12px; /* Adjust the label font size */
  }
}

@media (max-width: 480px) {
  .custom-button {
    width: 100px; /* Further adjust the width for very small screens */
    height: 100px; /* Further adjust the height for very small screens */
  }

  .custom-button-image {
    width: 60px; /* Further adjust the image size */
    height: 35px;
  }

  .custom-button-label {
    font-size: 10px; /* Further adjust the label font size */
  }
}